
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5; /* Color de fondo */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo para las etiquetas */
  label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  /* Estilo para los campos de entrada */
  input,
  select,
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  /* Estilo para el botón de enviar */
  button {
    background-color: #4caf50; /* Color de fondo del botón */
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Cambia el estilo del botón al pasar el ratón sobre él */
  button:hover {
    background-color: #45a049;
  }
  
  /* Estilo para el contenedor de éxito */
  #ReservaExitosa {
    text-align: center;
    padding: 20px;
    background-color: #4caf50;
    color: white;
    border-radius: 8px;
    margin-top: 20px;
  }
  